
.main-container{
    width: 100%;
    float: right;
    height: 100%;
    position: relative; 
    
}

#Success-usernameMessage {
    color: green;
    text-align: center;
}

#form-message {
    color: red;
    text-align: center;
}

#Success-message {
    color: green;
    text-align: center;
}

#form-usernameMessage{
    color: red;
    text-align: center;
}

.alert {
    text-align: center;
    color: red;
}

h4 {
    color:  #0B032D;
    text-align: left;
}

label {
    color:  #0B032D;
    display: inline-block; 
    width: 150px; 
}

thead {
    background-color:  #0B032D;
    color: white;
}

svg {
    padding-bottom: 3px;
}

small {
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .main-container{
        width: calc(100% - 210px);
        padding: 50px;
    }



}



