
.main-container{
    width: calc(100% - 20px);
    float: right;
    height: calc(100vh - 88px);
    position: relative;    
}

.grey-border{
    border: 8px dashed #888888;
    margin: 10px;
    color:#888888;
    font-size: x-large;
    text-align:center ;
    transition: 0.2s;
}

.grey-border.highlight{
    border-color:#333333;
    color:#333333;
    transition: 0.2s;
}

.button-container, .button-container>div{
    display: flex;
    justify-content:space-around; 
}


.hidden{
    visibility: hidden;
    display: none;
}

.btn-danger{
    padding: 12px 12px 6px 12px;
    border: 2px solid #dc3545;
}

.btn-danger:hover{
 background-color: #0b032d10;
 color: #dc3545;
}


.btn-main{
    background-color: #0B032D;
    color: #fafafa;
    border: 2px solid #0B032D;
    transition: 0.2s;
    padding: 12px 12px 6px 12px;
}


.btn-main:hover{
    color: #0B032D;
    background-color: #0b032d10;
    transition: 0.2s;  
}

.btn{
    width: 180px;
    margin: 5px;


}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #0b032d10;
  color: #666666;
}

.main-button{
    font-size: 20px;
    height: 80px;
    width: 250px;
    position: absolute; 
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: initial;

}

.file-container{
    overflow-y: hidden;
    overflow-x: hidden;
    height: calc(100vh - 155px);
}

.table{
    visibility: hidden;
}

td.svg-td{
    padding: 7px 13.5px !important;
}
svg.drop-svg{
    cursor: pointer;
}

.progress-bar{
    background-color: #0B032D;
}

.spinner-border{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.to-be-hidden:nth-child(1){
    margin-top: 100px;
}

@media only screen and (min-width: 768px) {
    .main-container{
        width: calc(100% - 230px);
    }

}