

.container{

	padding: 11% 5% 11% 5%;
	border: 1px solid #eee;
	border-radius: 10px;
	margin-top: 10vh;
	
	background-color: white;
	opacity: 1;


}



nav {
	font-family: 'Do Hyeon', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	background-image: url('img/backround.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	height: 100vh;
	backdrop-filter: blur(1.5px);

}



@media only screen and (min-width: 992px) {
	.container{
		margin-top: 15vh;
		padding: 60px 20px 60px 20px;
		width: 750px;
	}
}