

.container{

	padding: 11% 5% 11% 5%;
	border: 1px solid #eee;
	border-radius: 10px;
	margin-top: 10vh;
	
	background-color: white;
	opacity: 1;

}

.modal-content{
	padding: 3%;
	border-radius: 10px;
}

nav {
	font-family: 'Do Hyeon', sans-serif;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	background-image: url('img/backround.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	height: 100vh;
	backdrop-filter: blur(1.5px);

}


.input-container[validated] .input{
	border-color: #23973e;
	color: #23973e;
	background: #f3f3f3;  
}

.input-container[data-error] .input{
	border-color: #c92432;
	color: #c92432;
	background: #fffafa;  
}

.input-container[data-error]::after{
	content: attr(data-error);
	font-size: 0.8em;
	color: #c92432;
	display: block;
	margin: 1px 0;
}


@media only screen and (min-width: 992px) {
	.container{
		margin-top: 15vh;
		padding: 60px 20px 60px 20px;
		width: 750px;
	}
}