.main-container{
    width: 100%;
    height: calc(100vh - 68px);
    float: right;
    position: relative;   
}

.pref-button{
    cursor: pointer;
    position: absolute; 
    right: 10px;
    bottom: 10px;
    z-index: 1000;
}


@media only screen and (min-width: 768px) {
    .main-container{
        width: calc(100% - 210px);
    }

}