
.main-container{
    padding: 36px;
    width: 100%;
    float: right;
    height: calc(100vh - 68px);
    position: scroll;
    overflow-y: scroll;
}


.animation{
    background:#0B032D10;
    box-sizing:border-box;
    border:20px solid white;
    border-radius:40px;
}



@media only screen and (min-width: 768px){
    .main-container{
        width:calc(100% - 210px);
    }
}

