.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 68px);
    overflow-y: auto;
    
}

.chart-container {
    position: relative;
    height: 400px;
    margin: auto;
    width: 100%;
    margin: 0 auto 0 auto;
    transform: translateY(-38px);
  }
  


.param-choice{
    
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}


.btn{
    font-weight: bolder;
    color: rgba(0,0,0,0.6);
    background-color: #0b032d10;
    border-color:#0b032d10;
    
}

.btn.selected{
    color: white;
    background-color:#0B032D;
    
}

.btn:hover{
    color: white;
    background-color:#0B032D;
    
    
}

.btn:focus {
    outline: none;
    box-shadow: none;
 
}

.btn.refresh-btn{
   
    font-weight: lighter;
    color: white;
    background-color: #0B032D;
    width: fit-content;
    margin: 15px auto auto auto;

}

.modal-content h4{
    font-weight: 400;
}

.controls-container{
    padding: 20px;

}


.chart-title{
    text-align: center;
    margin: 0 auto 0 auto;
    
    
}

.chart-samples{
    margin: auto;
    font-style: italic;
}


.pref-button{
    cursor: pointer;
    position: absolute; 
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

#preferencesModal .modal-content{
    width: fit-content;
    margin: 0 auto 0 auto;
}

.modal-header h2{
    text-align: center;
    font-weight: lighter;
    width: fit-content;
    margin: 0 auto 0 auto;
    font-weight: 400;
box
}


#close:hover{

    background-color: #0B032D;
    color:white;
}

#close{
    padding: 2px ;
    margin: 0 0 0 0 ;
    background-color: #0b032d10;
    position: relative;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0.6);
    border-style: none;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    transition: ;
}


@media only screen and (min-width: 768px) {
    .main-container{
        width: calc(100% - 210px);
        position: fixed; 
        left: 210px;
        padding-bottom: 20px;
    }

    .chart-container {
       
        height: 450px;
        width: calc(100% - 28px);
        margin: 0 auto 0 auto;

      }

      
}

@media only screen and (min-width: 1200px) {

    .chart-container {
        height: 500px;
        width: 1000px;
        margin: 0 auto 0 auto;
        
    }
    
}

@media only screen and (min-width: 1820px) {

    .main-container{
        flex-direction: row;
        align-items: center;
        margin: 0 auto 0 auto;
    }

    .main-container h3{

        margin-top: 10px;
    
    }
    .chart-container {
        height: 800px;
        
    }

  

}